# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [2]:
import pandas
pandas.__version__

'1.0.1'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [8]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [9]:
counts=pd.Series([500,125,1236,569])
counts

0     500
1     125
2    1236
3     569
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [5]:
counts.values

array([ 500,  125, 1236,  569], dtype=int64)

In [6]:
counts.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [19]:
classes=pd.Series([200,231,261,310],
    index=['1Year','2Year','3Year','4Year'])
classes

1Year    200
2Year    231
3Year    261
4Year    310
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [20]:
classes['3Year']

261

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [21]:
classes[0]

200

We can give both the array of values and the index meaningful labels themselves:

In [22]:
classes.name='Students'
classes.index.name='Classes'
classes

Classes
1Year    200
2Year    231
3Year    261
4Year    310
Name: Students, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [23]:
np.log(classes)

Classes
1Year    5.298317
2Year    5.442418
3Year    5.564520
4Year    5.736572
Name: Students, dtype: float64

We can also filter according to the values in the `Series`:

In [25]:
classes[classes>300]

Classes
4Year    310
Name: Students, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [26]:
classes_dict={'1Year':500,'2Year':300,'3Year':250,'4Year':300}
print(classes_dict)
pd.Series(classes_dict)

{'1Year': 500, '2Year': 300, '3Year': 250, '4Year': 300}

1Year    500
2Year    300
3Year    250
4Year    300
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [27]:
data={"Teams":["LP","MU","RM","PSG"],
     "Goals":[2,3,4,1],
     "Time":[4.2,5.0,4.3,5.5]}
print(data)
data=pd.DataFrame(data)
data

{'Teams': ['LP', 'MU', 'RM', 'PSG'], 'Goals': [2, 3, 4, 1], 'Time': [4.2, 5.0, 4.3, 5.5]}

  Teams  Goals  Time
0    LP      2   4.2
1    MU      3   5.0
2    RM      4   4.3
3   PSG      1   5.5

To change the order of the columns:

In [28]:
f=pd.DataFrame(data,columns=["Goals","Teams","Time"])
f

   Goals Teams  Time
0      2    LP   4.2
1      3    MU   5.0
2      4    RM   4.3
3      1   PSG   5.5

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [29]:
f['gt']=f.Goals/f.Time
f

   Goals Teams  Time        gt
0      2    LP   4.2  0.476190
1      3    MU   5.0  0.600000
2      4    RM   4.3  0.930233
3      1   PSG   5.5  0.181818

In [32]:
f['Aligned']=pd.Series(range(4),index=[0,1,2,3])
f

   Goals Teams  Time        gt  Aligned
0      2    LP   4.2  0.476190        0
1      3    MU   5.0  0.600000        1
2      4    RM   4.3  0.930233        2
3      1   PSG   5.5  0.181818        3

Passing a dicts where the values are dicts is also possible

In [34]:
f.to_dict()

{'Goals': {0: 2, 1: 3, 2: 4, 3: 1},
 'Teams': {0: 'LP', 1: 'MU', 2: 'RM', 3: 'PSG'},
 'Time': {0: 4.2, 1: 5.0, 2: 4.3, 3: 5.5},
 'gt': {0: 0.47619047619047616,
  1: 0.6,
  2: 0.9302325581395349,
  3: 0.18181818181818182},
 'Aligned': {0: 0, 1: 1, 2: 2, 3: 3}}

In [35]:
pd.DataFrame(f.to_dict())

   Goals Teams  Time        gt  Aligned
0      2    LP   4.2  0.476190        0
1      3    MU   5.0  0.600000        1
2      4    RM   4.3  0.930233        2
3      1   PSG   5.5  0.181818        3

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [36]:
data=[{'a':value,'b':20*value}for value in range(7)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 20}, {'a': 2, 'b': 40}, {'a': 3, 'b': 60}, {'a': 4, 'b': 80}, {'a': 5, 'b': 100}, {'a': 6, 'b': 120}]

   a    b
0  0    0
1  1   20
2  2   40
3  3   60
4  4   80
5  5  100
6  6  120

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [38]:
pd.DataFrame([{'a':20,'b':20},{'b':40,'c':80}])

      a   b     c
0  20.0  20   NaN
1   NaN  40  80.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [41]:
pd.DataFrame(np.random.randint(6,10),
            columns=['HELLO','HEY'],
            index=['a','b','c'])

   HELLO  HEY
a      9    9
b      9    9
c      9    9

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [43]:
i=pd.Index([50,60,70,80])
i

Int64Index([50, 60, 70, 80], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [44]:
i[2]

70

In [46]:
i[::]

Int64Index([50, 60, 70, 80], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [47]:
print(i.size,i.shape,i.ndim,i.dtype)

4 (4,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [48]:
i

Int64Index([50, 60, 70, 80], dtype='int64')

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [49]:
r=np.random.RandomState(10)
s=pd.Series(r.randint(0,10,5))
s

0    9
1    4
2    0
3    1
4    9
dtype: int32

In [50]:
pq=pd.DataFrame(r.randint(0,10,(5,4)),
               columns=['P','Q','R','S'])
pq

   P  Q  R  S
0  0  1  8  9
1  0  8  6  4
2  3  0  4  6
3  8  1  8  4
4  1  3  6  5

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [51]:
np.exp(s)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
4    8103.083928
dtype: float64

Or, for a slightly more complex calculation:

In [52]:
np.sin(pq*np.pi/2)

              P             Q             R             S
0  0.000000e+00  1.000000e+00 -4.898587e-16  1.000000e+00
1  0.000000e+00 -4.898587e-16  3.673940e-16 -2.449294e-16
2 -1.000000e+00  0.000000e+00 -2.449294e-16  3.673940e-16
3 -4.898587e-16  1.000000e+00 -4.898587e-16 -2.449294e-16
4  1.000000e+00 -1.000000e+00  3.673940e-16  1.000000e+00

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [57]:
snacks=pd.Series({'Burger':2502,'Pizza':5623,
               'Juice':2365},name='Bev')
price=pd.Series({'Burger':2364,'Pizza':2132,
                'Tacos':2365},name='Extras')
print(snacks)
price

Burger    2502
Pizza     5623
Juice     2365
Name: Bev, dtype: int64

Burger    2364
Pizza     2132
Tacos     2365
Name: Extras, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [59]:
price/snacks

Burger    0.944844
Juice          NaN
Pizza     0.379157
Tacos          NaN
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [61]:
snacks.index | price.index

Index(['Burger', 'Juice', 'Pizza', 'Tacos'], dtype='object')

In [64]:
a=pd.Series([2,4,5],index=[0,1,2])
b=pd.Series([1,5,3],index=[1,2,3])
print(a)
print(b)

a+b

0    2
1    4
2    5
dtype: int64
1    1
2    5
3    3
dtype: int64

0     NaN
1     5.0
2    10.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [66]:
a.add(b,fill_value=2)

0     4.0
1     5.0
2    10.0
3     5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [69]:
f

   Goals Teams  Time        gt  Aligned
0      2    LP   4.2  0.476190        0
1      3    MU   5.0  0.600000        1
2      4    RM   4.3  0.930233        2
3      1   PSG   5.5  0.181818        3

In [75]:
f2=pd.DataFrame({"Teams":["LP","MU","RM","PSG"],"price":["2230","2560","2336","2365"]})
f2

  Teams price
0    LP  2230
1    MU  2560
2    RM  2336
3   PSG  2365

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [76]:
# merge is smart! If there are overlapping names, it uses those for the merge
f.merge(f2)

   Goals Teams  Time        gt  Aligned price
0      2    LP   4.2  0.476190        0  2230
1      3    MU   5.0  0.600000        1  2560
2      4    RM   4.3  0.930233        2  2336
3      1   PSG   5.5  0.181818        3  2365

If the column names are different, you need to specify them explicitely

In [81]:
f3=pd.DataFrame({"teams":["LP","MU","RM","PSG"],"price":["2230","2560","2336","2365"]})
f3
f.merge(f3,right_on='teams',left_on='Teams')

   Goals Teams  Time        gt  Aligned teams price
0      2    LP   4.2  0.476190        0    LP  2230
1      3    MU   5.0  0.600000        1    MU  2560
2      4    RM   4.3  0.930233        2    RM  2336
3      1   PSG   5.5  0.181818        3   PSG  2365

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [86]:
f4=pd.DataFrame({"Teams":["LP","MU","RM","PSG","MCU"],"price":["2230","2560","2336","2365","5555"]})
f.merge(f4,how='outer')

   Goals Teams  Time        gt  Aligned price
0    2.0    LP   4.2  0.476190      0.0  2230
1    3.0    MU   5.0  0.600000      1.0  2560
2    4.0    RM   4.3  0.930233      2.0  2336
3    1.0   PSG   5.5  0.181818      3.0  2365
4    NaN   MCU   NaN       NaN      NaN  5555

Check this out:

In [87]:
f4=pd.DataFrame({"Teams":["LP","MU","LP","PSG","MCU"],"price":["2230","2560","2336","2365","5555"]})
f.merge(f4,how='outer')

   Goals Teams  Time        gt  Aligned price
0    2.0    LP   4.2  0.476190      0.0  2230
1    2.0    LP   4.2  0.476190      0.0  2336
2    3.0    MU   5.0  0.600000      1.0  2560
3    4.0    RM   4.3  0.930233      2.0   NaN
4    1.0   PSG   5.5  0.181818      3.0  2365
5    NaN   MCU   NaN       NaN      NaN  5555

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [88]:
a=pd.Series([np.nan,1.5,np.nan,4.3,5.3,np.nan],
                 index=['a','b','c','d','e','f'])
b=pd.Series(np.arange(len(a),dtype=np.float64),
            index=['a','b','c','d','e','f'])

In [89]:
a

a    NaN
b    1.5
c    NaN
d    4.3
e    5.3
f    NaN
dtype: float64

In [90]:
b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [91]:
pd.Series(np.where(pd.isnull(a),b,a),index=a.index)

a    0.0
b    1.5
c    2.0
d    4.3
e    5.3
f    5.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [92]:
a.combine_first(b)

a    0.0
b    1.5
c    2.0
d    4.3
e    5.3
f    5.0
dtype: float64